<div id="sign-in-prompt">
  <h2 class="text-center">
    <%= link_to(new_host_user_session_path) do %>
      <%= fa_icon "briefcase", text: "Host" %>
    <% end %>
  </h2>

  <h2 class="text-center">
    <%= link_to(contributor_sign_in_path) do %>
      <%= fa_icon "pencil", text: "Contributor" %>
    <% end %>
  </h2>
</div>
