<!-- <h2 class="text-center">Discussions</h2>
<h4 class="text-center"><%= @forum.forum_shortname %></h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Discussion Name</th>
      <th>Page URL</th>
      <th>Unique ID</th>
    </tr>
  </thead>
  <tbody>
    <% @dicussions.each do |discussion| %>
      <tr>
        <td><%= discussion.name %></td>
        <td><%= discussion.page_url %></td>
        <td><%= discussion.unique_id %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
