@import url(https://fonts.googleapis.com/css?family=Montserrat);

#contribute-main {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 50px 0px 50px 0px;
  padding: 30px 40px 50px 40px;
  border-radius: 6px;
  box-sizing: border-box;
}

#contribute-header {
  position:relative;
  width: 100%;
  min-height: 60px;
}


.contribute-major-divider {
  width: 100%;
  height: 2px;
  background-color: #a8a8a8;
  margin-bottom: 20px;
}

.contribute-minor-divider {
  width: 100%;
  height: 1px;
  background-color: #E2E0E0;
  margin-bottom: 15px;
}

.contribute-input-field {
  height: 25px;
  border: 1px solid #a8a8a8;
  border-radius: 5px;
  padding: 3px 10px 3px 10px;
  margin-right: 10px;
  box-sizing: border-box;
}

.contribute-button {
  outline: none;
  height: 25px;
  min-width: 60px;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 10px 3px 10px;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid #A45438;
  color: #A45438;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.contribute-button:hover {
  background-color: #F7F7F7	;
  color: #89a438;
  border-color: #89a438;
}

.contribute-strong-red {
  color: #A45438;
  font-weight: bold;
}

.contrbute-button-large {
  font-size: 13px;
  height: 30px;
  padding: 5px 12px 5px 12px;
}


#contribute-comment-field {
  outline: none;
  resize: none;
  position: relative;
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  overflow: scroll;
  border-radius: 5px;
  border: 3px solid #A45438;
  padding: 10px 15px 10px 15px;
  margin-bottom: 35px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  background-color: white;
  transition: border 0.3s;
  color: #6B6B6B;
}

#contribute-comment-field:hover {
  border: 3px solid #89a438;
}

#contribute-comment-field:focus {
  border: 3px solid #89a438;
}

#contribute-no-comment {
  padding-top: 30px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  color: #989898;
  font-weight: 400;
}

#contribute-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin: 20px 20px 15px 0px;
  color: #A45438;
  position: absolute;
  display: block;
  line-height: 18px;
}

#contribute-profile-container {
  display: block;
  position: absolute;
  margin-bottom: 15px;
  right: 0;
  bottom: 0;
}

#contribute-compose-container {
  text-align: right;
}

#contribute-main [contenteditable=true]:empty:before{
  content: attr(placeholder);
  font-size: 14px;
  font-weight: semi-bold;
  color: #a8a8a8;
  line-height: 20px;
  display: block;
}

#contribute-comments-container {
  margin: 40px 10px 40px 10px;
  color: #6B6B6B;
  box-sizing: border-box;
}

#contribute-review-container {
  width: 100%;
}

#contribute-review-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contribute-review-body {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 40%;
  white-space: pre;
  border: 3px solid #89a438;
  height: 0%;
  max-height: 150px;
  min-width: 300px;
  overflow: scroll;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  margin: 0 10px 15px 10px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  background-color: white;
  color: #6B6B6B;
}

#contribute-review-options {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 25%;
  min-width: 250px;
  margin: 0 10px 15px 10px;
  box-sizing: border-box;
  font-size: 13px;
}

#contribute-review-intro {
  font-family: "Montserrat";
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
  color: #6B6B6B;
}

#contribute-review-form {
  text-align: right;
  margin-top: 20px;
}

#contribute-review-form > input {
  margin-bottom: 10px;
}

#contribute-review-header {
  font-family: "Montserrat";
  font-size: 18px;
  color: #89a438;
  /*margin-top: 20px;*/
  margin-bottom: 35px;
  text-align: center;
}

#contribute-submit-review-button {
  margin-top: 20px;
}

.contribute-comment-body {
  min-height: 60px;
  margin: 20px 10px 20px 10px;
  white-space: pre;
  font-size: 13px;
}

.contribute-comment-meta {
  font-size: 11px;
    font-family: "verdana";
}

.contribute-profile-text {
  /*vertical-align: bottom;*/
  font-size: 12px;
  color: #A8A8A8
}

.contribute-profile-big {
  /*vertical-align: bottom;*/
  margin-right: 20px;
  color: #89a438;
  font-family: "Montserrat";
  font-size: 12px;
}

#contribute-not-registered-logo {
  text-align: center;
  font-family: "Montserrat";
  color: #A45438;
  font-size: 30px;
  margin-bottom: 30px;
}

#contribute-not-registered-msg {
  text-align: center;
  color: #A8A8A8;
  font-size: 17px;
  line-height: 30px;
}
