/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import url(https://fonts.googleapis.com/css?family=Montserrat);

$navbar-default-bg: #A43E38;
$border-radius-base: 0px;
$navbar-default-border: none;
$navbar-default-link-color: white;
$headings-font-family: "Montserrat";
$headings-line-height: 1.5;
$headings-color: #A43E38;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "local";
