.navbar-brand {
  font-family: "Montserrat";
  font-size: 25px;
}

h2 {
  margin-bottom: 30px;
}

a {
  color: #A43E38;
}

a:hover {
  text-decoration: none;
  color: #441a17;
}

h2:hover {
  color: #441a17;
}

#sign-in-prompt {
  margin-top: 20%;
}

pre {
  margin-bottom: 100px;
}
