<div class="col-sm-offset-3 col-sm-7">
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_registration_path(resource_name) %><br />
  <% end -%>
</div>
